.navbar.navbar-default {
    background-color: #8251A1;
}

#page-content + footer {
    background-color: #8251A1;
}

.block {
    background-color: #F2EDF9;
}
.accion {
        background-color: #FFFFFF;
        margin-left: 50px !important;
        margin-right: 50px !important;
        height: 60px;
}

.accion  img {
height: 30px;
width:30px !important;
}
.accion{
    text-align: right;
    vertical-align: middle;
}
.accion .input-group{
    padding-top: 15px;
}

.accion .input-group-addon{
    padding-top: 0px;
    margin-top: -20px;
}
.accion a{
    margin-top: 5px;
    color:#8251A1;
}

.input-group {
    background-color: #FFFFFF;
}

#login-container .login-title {
    background-color: #FFFFFF;
}

#login-container .login-title h1 {
    color:#8251A1;
}

#login-container .login-title h1 small {
    color:#8251A1;
}

@media screen and (min-width: 768px) {
    #login-container {
        width: 540px !important;
        top: 156px !important;
    }
}
