lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.pyc
TODO.txt
.DS_Store

pids
logs
results
virtual
upload

npm-debug.log
node_modules

celerybeat-schedule

# Ignore all emacs backup files
*~
\#*#
Cask
.dir-locals.el
*_flymake.py
.pyflymakerc
.pyflymakercc
.venv
.#.dirlocals.el
.dirlocals.el
nbproject
.idea
