<a href="javascript:activateTab({{user.id}})" class="list-group-item chat-room" data-id="{{user.id}}">
    <span class="badge"></span>
    <img src="{{user.imagen}}" alt="Avatar" class="img-circle">
    <h5 class="list-group-item-heading"><strong>{{user.username}}</strong> </h5>
</a>
