<div class="block block-alt-noborder">
    <div class="row">

        <div class="col-md-12 col-lg-12 ">
            <!-- Intro Content -->
            <h3 class="sub-header"><strong>ziip.es</strong> es la primera aplicación de contactos anónima y GRATUITA.</h3>
            <div id="faq1" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q1">¿Que es ziip?</a></h4>
                    </div>
                    <div id="faq1_q1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Ziip es una plataforma de comunicación, que permite a los usuarios contactar anónimamente por SMS o email, manteniendo la privacidad. TOTALMENTE GRATUITA.

                Ziip.es permite dar “el primer paso” de forma anónima, permitiendo al usuario no arriesgarse personal o profesionalmente e ir facilitando información personal paso a paso. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q2">¿Cual es su novedad?</a></h4>
                        </div>
                        <div id="faq1_q2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>	No existe una aplicación similar, “el primer paso” en el inicio de una relación es muy complicado, especialmente en determinados entornos laborales o familiares. Permitimos a los usuarios que se comuniquen sin comprometer su privacidad, sin el uso de Facebook o cualquier red social. Ziip es una herramienta para el primer contacto, a partir de el envío de un SMS o email (ambos gratuito) abrimos un chat para permitir la comunicación privada.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q3">¿Cómo funciona?</a></h4>
                        </div>
                        <div id="faq1_q3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                   Un usuario de la plataforma, introduce un contacto (email o número de móvil), selecciona un mensaje genérico y uno personal. El genérico se enviará por SMS o email, junto con un link para ver el personal.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q4">¿Que es celestina?</a></h4>
                        </div>
                        <div id="faq1_q4" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    Es habitual que entre dos compañeros de trabajo o de tu entorno social veas una atracción, Celestina es la herramienta para que tú de forma anónima los pongas en contacto.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q5">¿Que aplicaciones de dating existen?</a></h4>
                        </div>
                        <div id="faq1_q5" class="panel-collapse collapse in">
                            <div class="panel-body"><p>
                                En cuanto aplicaciones de “dating” se han marcado varios “tipos” específicos, bien por su uso habitualmente en función de la orientación sexual (Grindr/Brenda vs  Tinder) o más clásicos tipo Match. El éxito de Tinder ha generado una multitud de clones, algunos en nuestro país sin aportar realmente un valor añadido más.</p>
                <p>
                Pero en definitiva todos estas plataformas han olvidado que un gran volumen de las relaciones o “aventuras” se producen dentro de un círculo cerrado, ya sea social, laboral o familiar. Este tipo de usuarios busca mucho más anonimato, y tiene miedo de vincularse a cualquier red social tradicional.
                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q6">¿Cual es la historia de ziip.es?</a></h4>
                        </div>
                        <div id="faq1_q6" class="panel-collapse collapse in">
                            <div class="panel-body"><p>
                                En definitiva, nos encontramos con los siguientes hechos:
                </p>
                                <ul>
                                <li>Existe un mercado dentro de casados o en relación que no disponen de herramientas fuera de las redes sociales, o dentro de un entorno social que limita el contacto. </li>
                                <li>Es necesaria una via de comunicación privada tipo “chat”. </li>
                                <li>Que tengan un alto nivel de anonimato. </li></ul>
                <p>
                A partir de estas premisas nació ziip.es. Tras 3 meses trabajando con Apple para permitir la aprobación ya que tienen unas normas muy estrictas en cuanto a envío de mensajes SMS y mail anónimos, sale a la luz.
                </p>

                                <p>Nuestro objetivo es ayudar al usuario, ofrecer una herramienta donde no existía. </p>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q7">¿Como puedo usar ziip.es? </a></h4>
                        </div>
                        <div id="faq1_q7" class="panel-collapse collapse in">
                            <div class="panel-body"><p>
                               Mediante la aplicación de IOS y mediante nuestra plataforma web (ziip.es), con las misma funcionalidad.
                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="http://test2.ziip.es/#faq1_q8">¿Cual es el modelo de negocio ziip? </a></h4>
                        </div>
                        <div id="faq1_q8" class="panel-collapse collapse in">
                            <div class="panel-body"><p>
                               No queremos repercutir el gasto en los usuarios. Por tanto hemos desarrollado un avanzado sistema de publicidad basado en geolocalización. Este sistema permite ofrecer publicidad específica adaptada a los usuarios de la aplicación.
                </p>
                                <p>En breve, los usuarios que se encuentren en la zona de influencia de un establecimiento, recibirán productos específicos. Para este fin esta desarrollando una completa red de comerciales en España para permitir el acceso a la publicidad online al comercio minorista, incluso sin disponer de página web o e-store. </p>
                            </div>
                        </div>
                    </div>

</div>


            </div>
        </div>
    </div>
