{% load i18n %}
<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/logo.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>{% trans 'Mis contactos'%}</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>
<div class="block push-bit">
    <form action="" method="post" id="form-login" class="form-horizontal  form-control-borderless">
        {%for contacto in contactos %}
        <div class="form-group accion">
            <div class="col-xs-12">
                <div class="input-group">
                    {%if contacto.usuario2.imagen %}
                        <span class="input-group-addon"><img src="{{contacto.usuario2.imagen}}" alt="" ></span>
                    {% endif %}
                    <a href="/chat?open_chat={{contacto.usuario2.pk}}">{{contacto.usuario2.usuario}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>
