{%if mensaje %}
<div class="row">
    <div class="col-sm-12 col-lg-12 site-block">
        <div class="alert alert-warning">
            {{ mensaje }}
        </div>
    </div>
</div>
{%endif%}

<div class="login-title text-center">
    <h1><i class="gi gi-flash"></i> <strong>Ziip</strong><br><small> <strong>Contacto</strong></small></h1>
</div>
<!-- END Login Title -->

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="sendContacto" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text"  name="asunto" class="form-control input-lg" placeholder="Asunto">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="email"  name="email" class="form-control input-lg" placeholder="Email">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <textarea name="texto" class="input-lg"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-xs-12">

                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Enviar</button>
            </div>
        </div>

    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
