
<div class="login-title text-center ">
<img src="/img/icon57.png">
        <h1> <strong>Ziip</strong><br><small> <strong>Mis contactos</strong></small></h1>
</div>
<div class="block push-bit">
    <form action="" method="post" id="form-login" class="form-horizontal  form-control-borderless">
        {%for contacto in contactos %}
        <div class="form-group ">
            <div class="col-xs-12">
                <div class="input-group">
                    {%if contacto.usuario2.imagen %}
                        <span class="input-group-addon"><img src="{{contacto.usuario2.imagen.url}}" alt="" ></span>
                    {% endif %}
                    {{contacto.usuario2.usuario}}
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>
