{%if mensaje %}
<div class="row">
    <div class="col-sm-12 col-lg-12 site-block">
        <div class="alert alert-warning">
            {{ mensaje }}
        </div>
    </div>
</div>
{%endif%}

<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/logo.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>Contacto</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="sendContacto" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <div class="form-group">
            <div class="col-xs-12">
ziip.es tiene como objetivo contactar personas, nuestro esfuerzo es continuo para su buen uso.</br>
Si tienes cualquier duda o  problema. No dudes en enviarnos un mail a info@ziip.es o rellenar el siguiente formulario:
</br>
Para prensa puedes encontrar más información <a href="http://bit.ly/ziipPackPress"> aquí</a>.</br>


ziip.es es un proyecto de beyondthebox.sl<br>
<a href="http://facebook.com/www.ziip.es">Facebook</a><br>
<a href="http://twitter.com/ziip_es">Twitter</a>



            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="email"  name="email" class="form-control input-lg" placeholder="Email">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text"  name="asunto" class="form-control input-lg" placeholder="Asunto">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <textarea name="texto" class="form-control input-lg" rows="4" placeholder="Comentario"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-xs-12">

                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Enviar</button>
            </div>
        </div>

    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
