<!-- Login Full Background -->
<!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->

{% if seccion_activa == "chat" %}

{% else %}

<img src="img/background1.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
{% endif %}
<!-- END Login Full Background -->


<div id="page-wrapper">
<div id="page-container" class="footer-fixed">

<!-- Login Container -->
<div id="main-container">
<header class="navbar navbar-default">

    <!-- Right Header Navigation -->
    <ul class="nav navbar-nav-custom pull-right">
        <!-- Alternative Sidebar Toggle Button -->
        {%if logado%}
        <li>
            <a href="ziip">Mensajes</a>
        </li>
        <li>
            <a href="contactos">Contactos</a>
        </li>
        <li>
            <a href="recientes">Recientes</a>
        </li>
        <li>
            <a href="chat">Chat</a>
        </li>
        <li>
            <a href="ajustes">Ajustes</a>
        </li>
        <li>
            <a href="logout">Logout</a>
        </li>

        {%else %}

        <li>
            <a href="login">Login</a>
        </li>
        <li>
            <a href="registro">Registro</a>
        </li>
        {%endif%}

        <!-- END Alternative Sidebar Toggle Button -->

    </ul>
    <!-- END Right Header Navigation -->
</header>


{% if seccion_activa == "chat" %}
<div id="page-content">

{% else %}
    <div id="login-container" class="animation-fadeIn" >
{% endif %}
