

<section class="site-content site-section">
    <div class="container">
        {%if errores %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
                <div class="alert alert-warning">
                    Se han encontrado los siguientes errores:
                    {%for error in errores %}
                        <br/>{{error}}
                    {%endfor%}
                </div>
            </div>
        </div>
        {%endif%}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">

                <form action="sendPeticion" method="post" id="form-log-in" class="form-horizontal">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
                    <input type="hidden" name="tipo_peticion" value="{{tipo}}">

                    {% ifequal tipo "1" %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Mensaje anonimo</span>
                                <select name="mensaje_anonimo">
                                    <option value="1" {% ifequal datos.mensaje_anonimo "1"%}selected {%endifequal%}>Te conozco desde hace tiempo y quiero conocerte mejor.</option>
                                    <option value="2" {% ifequal datos.mensaje_anonimo "2"%}selected {%endifequal%}>Nos conocemos desde hace poco, pero no puedo olvidarte.</option>
                                    <option value="3" {% ifequal datos.mensaje_anonimo "3"%}selected {%endifequal%}>Trabajamos juntos, tenemos muchas cosas en común, charlemos.</option>
                                    <option value="4" {% ifequal datos.mensaje_anonimo "4"%}selected {%endifequal%}>Nuestras miradas se han encontrado, nuestras palabras también podrían.</option>
                                    <option value="5" {% ifequal datos.mensaje_anonimo "5"%}selected {%endifequal%}>Estudiamos juntos, y desde que te vi no te olvido.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endifequal %}
                    {% ifequal tipo "3" %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Mensaje anonimo</span>
                                <select name="mensaje_anonimo">
                                    <option value="1" {% ifequal datos.mensaje_anonimo "1"%}selected {%endifequal%}>Trabajo con vosotros y creo que deberíais conoceros mejor.</option>
                                    <option value="2" {% ifequal datos.mensaje_anonimo "2"%}selected {%endifequal%}>Os he visto muchas veces, se que haceis buena pareja.</option>
                                    <option value="3" {% ifequal datos.mensaje_anonimo "3"%}selected {%endifequal%}>Nos conocemos los tres y creo que os gustáis.</option>
                                    <option value="4" {% ifequal datos.mensaje_anonimo "4"%}selected {%endifequal%}>Os he visto a ambos en clase, creo que hacéis buena pareja.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endifequal %}

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Nombre</span>
                                <input type="text"  name="nombre" class="form-control input-lg" placeholder="Nombre" value="{{datos.nombre}}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Telefono</span>
                                <input type="text"  name="telefono" class="form-control input-lg" placeholder="Telefono" value="{{datos.telefono}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                <input type="text"  name="email" class="form-control input-lg" placeholder="Email" value="{{datos.email}}">
                            </div>
                        </div>
                    </div>
                    {%ifequal tipo "3" %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Nombre segundo contacto</span>
                                <input type="text"  name="nombre2" class="form-control input-lg" placeholder="Nombre" value="{{datos.nombre2}}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Telefono</span>
                                <input type="text"  name="telefono2" class="form-control input-lg" placeholder="Telefono" value="{{datos.telefono2}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                <input type="text"  name="email2" class="form-control input-lg" placeholder="Email" value="{{datos.email2}}">
                            </div>
                        </div>
                    </div>
                    {% endifequal %}

                    {% ifnotequal tipo "2" %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">Mensaje</span>
                                <textarea name="mensaje" class="form-control input-lg" placeholder="Mensaje">{{datos.mensaje}}</textarea>
                            </div>
                        </div>
                    </div>
                    {%endifnotequal%}




                    <div class="form-group form-actions">
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Enviar</button>
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                </form>



            </div>
        </div>
        <hr>
    </div>
</section>
