{% load i18n %}
<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/logo.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>{% trans 'Peticion de rechazo aceptada'%}</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <div class="enviado">
           <h1>{% trans 'Petición rechazada correctamente'%}</h1>
       </div>

</div>
<!-- END Login Block -->
