{% load imagenTipo %}


<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/logo.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>Recientes</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        {%for reciente in recientes %}
        <div class="form-group accion">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon recientes"><a href="#">{{reciente.tipo|imagenTipo|safe}}></a></span>
                   <a href="#">{{reciente.contacto_nombre}}</a>
                   <br>
                   <a href="#">{{reciente.contacto_contacto}}</a>
                   <br>
                   {% ifequal reciente.tipo "3" %}
                    <a href="#">{{reciente.contacto2_nombre}} </a>
                    <br>
                    <a href="#">{{reciente.contacto2_contacto}}</a>
                    <br>
                   {% endifequal %}

                   <a href="#">{{reciente.fecha|date:"h:i d-m-Y"}}</a>
     
                </div>
            </div>
        </div>
        {% endfor %}

    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
