{% load i18n %}
{%if error_login %}
<div class="row">
    <div class="col-sm-12 col-lg-12 site-block">
        <div class="alert alert-warning">
            {% trans 'Usuario o password invalido.'%}
        </div>
    </div>
</div>
{%endif%}

<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/icon57.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>{% trans 'Recordar Password'%}</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="doRecordarPassword" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                    <input type="text"  name="email" class="form-control input-lg" placeholder="{% trans 'Email'%}">
                </div>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-8 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> {% trans 'Recordar'%}</button>
            </div>
        </div>
    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
