
<!-- Sign Up -->
<section class="site-content site-section">
    <div class="container">
        {%if errores %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
                <div class="alert alert-warning">
                    Se han encontrado los siguientes errores:
                    {%for error in errores %}
                        <br/>{{error}}
                    {%endfor%}
                </div>
            </div>
        </div>
        {%endif%}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
                <!-- Sign Up Form -->
                <form action="doAlta" method="post" id="form-sign-up" class="form-horizontal">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-user"></i></span>
                                <input type="text" id="email" name="username" class="form-control input-lg" placeholder="Username" value="{{datos.username}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Email"  value="{{datos.email}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="password2" name="password2" class="form-control input-lg" placeholder="Verifica Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="text" id="telefono" name="telefono" class="form-control input-lg" placeholder="Telefono Movil"  value="{{datos.telefono}}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <label>Sexo: </label>
                                <label class="radio-inline" for="checkout-payment-paypal">
                                    <input type="radio" id="sexo" name="sexo" value="1">Hombre
                                </label>
                                <label class="radio-inline" for="sexo">
                                    <input type="radio" id="sexo" name="sexo" value="2"> Mujer
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-xs-6">
                            <label class="switch switch-primary" data-toggle="tooltip" title="Acepto los terminos">
                                <input type="checkbox" id="register-terms" name="register-terms"><span></span>
                            </label>
                            <a href="#modal-terms" data-toggle="modal" class="register-terms"><small>Ver terminos</small></a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Aceptar</button>
                        </div>
                    </div>
                </form>
                <!-- END Sign Up Form -->
            </div>
        </div>
    </div>
</section>
<!-- END Sign Up -->
