{%if errores %}
<div class="row">
    <div class="col-sm-12 col-lg-12 site-block">
        <div class="alert alert-warning">
            Se han encontrado los siguientes errores:
            {%for error in errores %}
                <br/>{{error}}
            {%endfor%}
        </div>
    </div>
</div>
{%endif%}


<div class="login-title">
   <div class="logo-tittle">
       <img src="/img/logo.png">
   </div>
   <div class="txt-tittle">
       <h1> <strong>Ziip</strong><br><small> <strong>Registro</strong></small></h1>
   </div>
</div>
<!-- END Login Title -->
<div class="clearfix"></div>

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="doAlta" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">

        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    <input type="text" id="email" name="username" class="form-control input-lg" placeholder="Nick" value="{{datos.username}}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                    <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Email"  value="{{datos.email}}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Contaseña">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    <input type="password" id="password2" name="password2" class="form-control input-lg" placeholder="Verifica Contraseña">
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-earphone"></i></span>
                    <input type="text" id="telefono" name="telefono" class="form-control input-lg" placeholder="Teléfono Movil"  value="{{datos.telefono}}">
                </div>
            </div>
        </div>
    -->
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group sexo-css">
                    <label>Sexo: </label>
                    <label class="radio-inline" for="checkout-payment-paypal">
                        <input type="radio" id="sexo" name="sexo" value="1" {%ifequal datos.sexo "1" %}cheked {% endifequal %} >Hombre
                    </label>
                    <label class="radio-inline" for="sexo">
                        <input type="radio" id="sexo" name="sexo" value="2" {%ifequal datos.sexo "2" %}cheked {% endifequal %} > Mujer
                    </label>
                    <label class="radio-inline" for="sexo">
                        <input type="radio" id="sexo" name="sexo" value="3" {%ifequal datos.sexo "3" %}cheked {% endifequal %} > Indefinido
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-xs-6">
                <label class="switch switch-primary" data-toggle="tooltip" title="Acepto los terminos">
                    <input type="checkbox" id="register-terms" name="condiciones" value="1"><span></span>
                </label>
                <a href="/legal" data-toggle="modal" class="register-terms" target="_blank"><small>Ver terminos</small></a>
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Enviar</button>
            </div>
        </div>

    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
