
<div class="login-title text-center">
    <h1><i class="gi gi-flash"></i> <strong>Ziip</strong><br><small> <strong>Movil correctamente confirmado.</strong></small></h1>
</div>
<!-- END Login Title -->

<!-- Login Block -->
<div class="block push-bit">

    <!-- Login Form -->
    <form action="" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                     <h1>Movil correctamente confirmado.</h1>

                </div>
            </div>
        </div>

        </div>
    </form>
    <!-- END Login Form -->

</div>
<!-- END Login Block -->
