


<!-- Company Info -->
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="site-block">
                    <h3 class="site-heading"><strong>Politica de privacidad</strong></h3>
                    {{texto|safe}}

                </div>

            </div>
            <div class="col-sm-4">
                <!--
                <div class="site-block">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Year</th>
                                <th class="text-center">Projects</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 50%;">2009</td>
                                <td><strong>300</strong></td>
                            </tr>
                            <tr>
                                <td>2010</td>
                                <td><strong>450</strong></td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td><strong>1000</strong></td>
                            </tr>
                            <tr>
                                <td>2012</td>
                                <td><strong>1200</strong></td>
                            </tr>
                            <tr>
                                <td>2013</td>
                                <td><strong>1800</strong></td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td><strong>2000</strong> &amp; Counting..</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="site-block">
                    <p class="text-center">
                        <img src="img/placeholders/avatars/avatar2.jpg" alt="Avatar" class="img-circle">
                    </p>
                    <blockquote>
                        <p>I'm grateful we made it that far and continue strong! Thank you all for supporting us!</p>
                        <footer><strong>John Doe</strong>, CEO</footer>
                    </blockquote>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<!-- END Company Info -->
