{% load imagenTipo %}
<section class="site-content site-section">
    <div class="container">





        <div class="table-responsive">
            <table class="table table-bordered table-vcenter">

                <tbody>

                    <tr>
                        <td style="width: 200px;">

                            <a href="/anonimo" >{{"1"|imagenTipo|safe}}</a>
                        </td>
                        <td>
                         <h2> <strong><a href="/anonimo" class="acciones">Mensaje Anonimo</a></strong></h2>
                        </td>

                    </tr>

                    <tr>
                        <td style="width: 200px;">
                            <a href="/conecta">{{"2"|imagenTipo|safe}}</a>
                        </td>
                        <td>
                           <h2> <strong><a href="/conecta" class="acciones">Conecta</a></strong></h2>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 200px;">
                            <a href="/celestino">{{"3"|imagenTipo|safe}}</a>
                        </td>
                        <td>
                          <h2> <strong> <a href="/celestino" class="acciones">Celestino</a></strong></h2>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</section>
